<div class="col-xs-12" id="manager-index" ng-controller="ManagerIndexController"
     ng-init="init(<%= @staffs.to_json(:include => [:user]) %>, <%= @countries.to_json %>)">

  <form class="form-inline margin-bottom-20">
  <div class="form-group">
    <select class="form-control city-select" ng-model="search.country"
            ng-options="o.country_name for o in countries | orderBy:'country_name'"
            ng-change="filter()">
      <option value=""><%= t 'shared.country' %></option>
    </select>
  </div>

  <div class="form-group">
    <select class="form-control city-select" ng-model="search.region"
            ng-options="o.region_name for o in search.country.regions | orderBy:'region_name'"
            ng-change="filter()">
      <option value=""><%= t 'shared.region' %></option>
    </select>
  </div>
    </form>

  <div class="margin-bottom-20">
    <span>מוביל מדינה:</span>
    <span ng-repeat="s in search.country.staff" class="tag">
      {{s.name}}
    </span>
  </div>

  <div class="margin-bottom-20">
    <span>מוביל אזור:</span>
    <span ng-repeat="city in search.region.staff" class="tag">
      {{s.name}}
    </span>
  </div>

  <div class="margin-bottom-20">
    <span>ערים בלי מוביל:</span>
    <span ng-repeat="city in search.region.cites_without_staff" class="tag">
      {{city.city_name_he}}
    </span>
  </div>

  <form class="form-inline" ng-submit="createManager()">
    <div class="form-group">
      <label for="email">מייל</label>
      <input type="text" class="form-control" id="email" ng-model="email" placeholder="מייל" required />
    </div>
    <div class="form-group">
      <label for="city">עיר</label>
      <select class="form-control city-select" ng-model="city"
              ng-options="city.city_name_he for city in search.region.cites_without_staff" ></select>
    </div>
    <button type="submit" class="btn btn-default">הוסף מוביל</button>
  </form>

  <table class="table">
    <thead>
      <tr>
        <th>שם</th>
        <th>מייל</th>
        <th>סוג</th>
        <th>מזהה</th>
        <th>פעולות</th>
      </tr> 
    </thead>
    <tbody>
      <tr ng-repeat="manager in managers">
        <td>{{ manager.user ? manager.user.full_name : 'לא רשום' }}</td>
        <td>{{ manager.user ? manager.user.email : manager.temp_email }}</td>
        <td>
            {{manager.entity_type}}
        </td>
        <td>
          {{manager.entity_id}}
        </td>
        <td>
          <button type="button" class="btn btn-danger" ng-click="deleteManager(manager)"> מחק</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
