/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *




 * require jquery.ui.datepicker
 * require jquery.ui.autocomplete
 /*
 *
 */
@import url("https://fonts.googleapis.com/css?family=Alef:400,700");
@import url(external/bootstrap-theme.min.css);
@import url(external/jquery-ui.css);
@import url(external/bootstrap-rtl.min.css);
@import url(external/angular-date-picker.css);
/* line 30, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
a {
  cursor: pointer;
}

/* line 34, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
html, body {
  font-family: 'Alef', sans-serif !important;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100%;
}

/* line 46, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
input.ng-dirty.ng-invalid {
  border-color: red;
}

/* line 51, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
select {
  max-width: 200px;
}

/* line 55, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
ul {
  list-style: none;
  padding: 0;
}
/* line 59, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
ul.errors {
  color: red;
}

/* line 64, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
.help-block {
  color: #585858;
}

/* line 68, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
.btn-info {
  background: white;
  border-color: #eb9316;
  color: #eb9316;
}
/* line 72, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
.btn-info:hover {
  background: #eaeaea;
  border-color: #eb9316;
  color: #eb9316;
}

/* line 79, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
.zb-btn {
  width: 176px;
  height: 43px;
  border-radius: 5px;
  font-size: 18px;
}
/* line 85, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
.zb-btn.btn-blue {
  background-color: #428bca;
  border: solid 1px #357ebd;
  color: #ffffff;
}
/* line 91, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
.zb-btn.btn-white {
  background-color: #ffffff;
  border: solid 2px #eea236;
  color: #eea236;
}
/* line 97, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
.zb-btn.btn-orange {
  color: #ffffff;
  border: solid 2px #eea236;
  background: #eea236;
}

/* line 107, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
.host-table tbody tr:hover, .witness-table tbody tr:hover, .guest-table tbody tr:hover {
  background-color: white;
  cursor: pointer;
}

/* line 114, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
.navbar.navbar-default {
  background: #fff;
}
/* line 117, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
.navbar.navbar-default .navbar-brand {
  color: #000000;
}
/* line 121, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
.navbar.navbar-default li > a {
  color: #000000;
}
/* line 131, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
.navbar.navbar-default li.button-link a {
  padding: 10px;
}
/* line 135, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
.navbar.navbar-default li.button-link button {
  padding: 4px 12px;
}
/* line 140, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
.navbar.navbar-default li.header-btn {
  padding: 5px 29px;
  font-size: 18px;
}
/* line 144, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
.navbar.navbar-default li.header-btn.white {
  border: solid 1px #000000;
  color: #000000;
}
/* line 150, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
.navbar.navbar-default li.header-btn.orange {
  background-color: #f5a623;
  color: #fff;
}

/* line 157, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
footer {
  display: -webkit-flex;
  display: flex;
}

/* line 161, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
header {
  color: #000000;
  height: 52px;
  font-size: 18px;
  background-color: #fff;
  padding-left: 29px;
  padding-right: 29px;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: space-between;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* line 175, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
header a {
  color: #000000 !important;
}
/* line 177, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
header a:hover {
  text-decoration: none;
}
/* line 182, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
header .right-side, header .left-side {
  display: -webkit-flex;
  -webkit-align-items: center;
  display: flex;
  align-items: center;
}
/* line 189, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
header .home {
  font-size: 19px;
}
/* line 193, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
header .header-mobile-btn {
  width: 60px !important;
  font-size: 14px;
  margin-right: 10px !important;
}
/* line 199, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
header .header-btn {
  width: 135px;
  height: 33px;
  margin-right: 19px;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 209, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
header .header-btn.white {
  border: solid 1px #000000;
}
/* line 213, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
header .header-btn.orange {
  background-color: #f5a623;
  border: solid 1px #f5a623;
  color: #fff;
}
/* line 220, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
header .header-brand {
  font-size: 24px;
}
/* line 224, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
header .small-header-btn {
  width: 33px;
  height: 32px;
  margin-right: 8px;
  font-size: 17.5px;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
/* line 237, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
header .language-btn {
  background-color: #f5a623;
  color: #ffffff;
}
/* line 242, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
header .facebook-btn {
  background-color: #000000;
  color: #fff;
}
/* line 247, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
header .header-link {
  font-size: 16px;
  margin-right: 8px;
}
/* line 252, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
header .header-link:hover {
  background-color: #f5a623;
  cursor: pointer;
}

/* line 258, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
#main-container {
  width: 100%;
  -webkit-flex-grow: 2;
  flex-grow: 2;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 265, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
#signup-container {
  width: 50%;
  margin: auto;
}
/* line 268, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
#signup-container .title-container {
  margin-bottom: 20px;
}

/* line 273, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
.view-toggle {
  font-size: 0px;
  border-radius: 4px;
  display: inline-block;
}
/* line 278, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
.view-toggle div {
  display: inline-block;
  padding: 10px;
  background: white;
  color: black;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}
/* line 288, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
.view-toggle div.selected {
  background: orange;
  color: white;
}

/* line 295, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
.margin-bottom-10 {
  margin-bottom: 10px;
}

/* line 299, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
.margin-bottom-20 {
  margin-bottom: 20px;
}

/* line 303, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
.margin-left-10 {
  margin-left: 10px;
}

/* line 307, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
.margin-left-5 {
  margin-left: 5px;
}

/* line 312, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
.margin-top-10 {
  margin-top: 10px;
}

/* line 316, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
.margin-top-20 {
  margin-top: 20px;
}

/* line 320, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
.align-right {
  text-align: right;
}

/* line 327, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
.profile .panel-heading, .profile .panel-body {
  display: -webkit-flex;
  -webkit-justify-content: space-between;
  -webkit-align-items: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 335, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
.profile .info-title {
  font-size: 28px;
}
/* line 339, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
.profile .info-label {
  font-size: 18px;
  color: #4a4a4a;
  font-weight: 300;
}
/* line 345, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
.profile .field-group {
  display: -webkit-flex;
  -webkit-flex-basis: 0;
  -webkit-flex-grow: 1;
  -webkit-flex-direction: column;
  -webkit-align-self: flex-start;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  flex-direction: column;
  align-self: flex-start;
}
/* line 354, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
.profile .field-group .radio {
  display: inline-block;
  margin: 0px 5px;
}
/* line 360, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
.profile .alert {
  margin-top: 10px;
}

/* line 365, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
.tag {
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 3px;
  padding-right: 3px;
  display: inline-block;
  border: 1px solid gray;
  position: relative;
}
/* line 378, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
.tag .glyphicon {
  cursor: pointer;
}

/* line 383, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
.description {
  color: #9b9b9b;
}

/* line 387, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
.subtitle {
  color: #4a4a4a;
}

/* line 392, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
.table th {
  cursor: pointer;
}

/* line 398, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
.comment-list p {
  margin: 0 0 1em;
}
/* line 402, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
.comment-list .comment {
  overflow: hidden;
  padding: 0 0 1em;
  border-bottom: 1px solid #ddd;
  margin: 0 0 1em;
  *zoom: 1;
}
/* line 409, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
.comment-list .comment-body {
  overflow: hidden;
}
/* line 413, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
.comment-list .comment .text {
  padding: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  background: #fff;
}
/* line 420, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
.comment-list .comment .text p:last-child {
  margin: 0;
}
/* line 424, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
.comment-list .comment .attribution {
  height: 10px;
  padding: 10px;
  font-size: 14px;
  color: #666;
}

/* line 434, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
.pagination a {
  background: transparent !important;
}
/* line 438, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
.pagination .active a {
  background: #337ab7 !important;
}

/* line 443, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
.btn-request {
  background-color: #f0ad4e;
  border: solid 1px #eea236;
  width: 137px;
  height: 32px;
  border-radius: 3px;
  color: #ffffff;
}

/* line 452, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
.total-summary {
  font-size: 18px;
  font-weight: 600;
}

/* line 457, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
.hasnt-contacted {
  background-color: #F59797;
}

/* line 462, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
body {
  font-family: 'Alef', sans-serif;
  background-color: #eaeaea;
}
/* line 466, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
body #footer {
  font-family: 'Alef', sans-serif;
  height: 60px;
  width: 100%;
  background-color: #424242;
  line-height: 60px;
  color: #a9a9a9;
  font-size: 16px;
}
/* line 474, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
body #footer img {
  vertical-align: middle;
  width: 20px;
  height: 20px;
}
/* line 479, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
body #footer a {
  text-decoration: none;
  color: #a9a9a9;
}
/* line 482, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
body #footer a:visited {
  color: #a9a9a9;
}
/* line 484, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
body #footer .part {
  display: inline;
  margin-left: 15px;
}
/* line 490, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
body .footer_wrapper {
  margin: auto;
  text-align: center;
  line-height: 60px;
}
/* line 498, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
body.en header .header-link {
  margin-right: initial;
  margin-left: 8px;
}
/* line 503, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
body.en header .header-btn {
  margin-right: initial;
  margin-left: 19px;
}
/* line 508, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
body.en header .language-btn {
  margin-left: 10px;
}

/* line 515, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
.zb-spinner {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* line 523, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
#locale {
  display: none;
}

/* line 527, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
.caret-down {
  border-color: black transparent;
  border-style: solid;
  border-width: 5px 5px 0px 5px;
  height: 0px;
  width: 0px;
}

/* line 535, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
.caret-up {
  border-color: black transparent;
  border-style: solid;
  border-width: 0px 5px 5px 5px;
  height: 0px;
  width: 0px;
}

/* line 543, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
.pac-container {
  right: 0px !important;
}

/* line 547, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/application.css.scss */
.checkbox-inline {
  margin-left: 15px;
}
/* line 5, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/hosts.css.scss */
#host-edit-form .radio label {
  color: initial;
}
/* line 10, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/hosts.css.scss */
#host-edit-form input, #host-edit-form select, #host-edit-form textarea {
  max-width: 230px;
}
/* line 13, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/hosts.css.scss */
#host-edit-form input.error, #host-edit-form select.error, #host-edit-form textarea.error {
  border-color: red;
}
/* line 18, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/hosts.css.scss */
#host-edit-form .btn {
  width: 170px;
}
/* line 23, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/hosts.css.scss */
#host-edit-form .form-horizontal .control-label {
  text-align: right;
  color: initial;
}

/* line 30, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/hosts.css.scss */
.host-signup-finished {
  padding: 61px;
}
/* line 32, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/hosts.css.scss */
.host-signup-finished img {
  margin-bottom: 33px;
}
/* line 36, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/hosts.css.scss */
.host-signup-finished p {
  font-size: 24px;
  margin-bottom: 72px;
}
/* line 41, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/hosts.css.scss */
.host-signup-finished .buttons-container {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-justify-content: space-around;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/* line 49, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/hosts.css.scss */
.host-signup-finished .close {
  position: absolute;
  top: 20px;
  left: 20px;
}

@media (max-width: 767px) {
  /* line 59, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/hosts.css.scss */
  .modal.in .modal-dialog {
    width: 60%;
    margin-right: 20%;
  }

  /* line 63, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/hosts.css.scss */
  .host-signup-finished img {
    margin-bottom: 20px;
    width: 50px;
  }

  /* line 67, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/hosts.css.scss */
  .host-signup-finished p {
    font-size: 16px;
    margin-bottom: 20px;
  }

  /* line 72, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/hosts.css.scss */
  .host-signup-finished .buttons-container {
    display: block !important;
    margin-right: 23%;
  }

  /* line 77, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/hosts.css.scss */
  .zb-btn {
    width: 90px;
    height: 37px;
    border-radius: 5px;
    font-size: 12px;
    display: block;
    margin-top: 10px;
  }

  /* line 86, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/hosts.css.scss */
  .host-signup-finished {
    padding: 20px;
  }
}
/* line 91, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/hosts.css.scss */
.register-link-code-wrapper {
  font-style: italic;
  margin: 10px 0px;
  padding: 10px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

/* line 101, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/hosts.css.scss */
#register-link-input {
  width: 100%;
  padding: 5px;
  font-size: 14px;
}
@media (max-width: 767px) {
  /* line 101, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/hosts.css.scss */
  #register-link-input {
    height: 110px;
  }
}
/* line 3, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/request-invite.css.scss */
.request-invite {
  background-color: #ffffff;
  position: relative;
  width: 605px;
  padding: 20px 80px;
}
/* line 11, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/request-invite.css.scss */
.request-invite .register form label {
  color: #999999;
  font-weight: 700;
}
/* line 18, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/request-invite.css.scss */
.request-invite .subtitle {
  color: #9b9b9b;
}
/* line 22, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/request-invite.css.scss */
.request-invite .glyphicon-remove {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #d8d8d8;
  font-size: 20px;
  cursor: pointer;
}
/* line 31, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/request-invite.css.scss */
.request-invite .salon-info {
  border-radius: 2px;
  background-color: #f5f5f5;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.19);
  padding: 10px 20px;
}
/* line 37, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/request-invite.css.scss */
.request-invite .salon-info .salon-title {
  font-size: 20px;
  font-weight: 700;
}
/* line 42, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/request-invite.css.scss */
.request-invite .salon-info .info-group {
  font-size: 14px;
  color: #000000;
  text-align: right;
  display: table-row;
}
/* line 48, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/request-invite.css.scss */
.request-invite .salon-info .info-group .label, .request-invite .salon-info .info-group .value {
  display: table-cell;
  text-align: right;
}
/* line 53, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/request-invite.css.scss */
.request-invite .salon-info .info-group .label {
  color: #000000;
  font-weight: 300;
}
/* line 58, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/request-invite.css.scss */
.request-invite .salon-info .info-group .value {
  font-weight: 600;
}
/* line 64, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/request-invite.css.scss */
.request-invite .plus-one-select {
  width: 164px;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #cccccc;
}
/* line 71, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/request-invite.css.scss */
.request-invite .request-container {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
/* line 78, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/request-invite.css.scss */
.request-invite .request-container .request-info {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-flex-grow: 1;
  -webkit-justify-content: space-between;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}
/* line 89, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/request-invite.css.scss */
.request-invite .request-successful .subtitle {
  font-size: 16px;
  color: #000000;
}
/* line 94, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/request-invite.css.scss */
.request-invite .request-successful .buttons-container {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-justify-content: space-around;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/*!
 * ui-select
 * http://github.com/angular-ui/ui-select
 * Version: 0.16.0 - 2016-03-23T20:51:56.678Z
 * License: MIT
 */
.ui-select-highlight{font-weight:700}.ui-select-offscreen{clip:rect(0 0 0 0)!important;width:1px!important;height:1px!important;border:0!important;margin:0!important;padding:0!important;overflow:hidden!important;position:absolute!important;outline:0!important;left:0!important;top:0!important}.ui-select-choices-row:hover{background-color:#f5f5f5}.ng-dirty.ng-invalid>a.select2-choice{border-color:#D44950}.select2-result-single{padding-left:0}.select-locked>.ui-select-match-close,.select2-locked>.select2-search-choice-close{display:none}body>.select2-container.open{z-index:9999}.ui-select-container[theme=select2].direction-up .ui-select-match{border-radius:0 0 4px 4px}.ui-select-container[theme=select2].direction-up .ui-select-dropdown{border-radius:4px 4px 0 0;border-top-width:1px;border-top-style:solid;box-shadow:0 -4px 8px rgba(0,0,0,.25);margin-top:-4px}.ui-select-container[theme=select2].direction-up .ui-select-dropdown .select2-search{margin-top:4px}.ui-select-container[theme=select2].direction-up.select2-dropdown-open .ui-select-match{border-bottom-color:#5897fb}.selectize-input.selectize-focus{border-color:#007FBB!important}.selectize-control>.selectize-dropdown,.selectize-control>.selectize-input>input{width:100%}.ng-dirty.ng-invalid>div.selectize-input{border-color:#D44950}.ui-select-container[theme=selectize].direction-up .ui-select-dropdown{box-shadow:0 -4px 8px rgba(0,0,0,.25);margin-top:-2px}.btn-default-focus{color:#333;background-color:#EBEBEB;border-color:#ADADAD;text-decoration:none;outline:-webkit-focus-ring-color auto 5px;outline-offset:-2px;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)}.ui-select-bootstrap .ui-select-toggle{position:relative}.ui-select-bootstrap .ui-select-toggle>.caret{position:absolute;height:10px;top:50%;right:10px;margin-top:-2px}.input-group>.ui-select-bootstrap.dropdown{position:static}.input-group>.ui-select-bootstrap>input.ui-select-search.form-control{border-radius:4px 0 0 4px}.input-group>.ui-select-bootstrap>input.ui-select-search.form-control.direction-up{border-radius:4px 0 0 4px!important}.ui-select-bootstrap>.ui-select-match>.btn{text-align:left!important}.ui-select-bootstrap>.ui-select-match>.caret{position:absolute;top:45%;right:15px}.ui-select-bootstrap>.ui-select-choices{width:100%;height:auto;max-height:200px;overflow-x:hidden;margin-top:-1px}body>.ui-select-bootstrap.open{z-index:1000}.ui-select-multiple.ui-select-bootstrap{height:auto;padding:3px 3px 0}.ui-select-multiple.ui-select-bootstrap input.ui-select-search{background-color:transparent!important;border:none;outline:0;height:1.666666em;margin-bottom:3px}.ui-select-multiple.ui-select-bootstrap .ui-select-match .close{font-size:1.6em;line-height:.75}.ui-select-multiple.ui-select-bootstrap .ui-select-match-item{outline:0;margin:0 3px 3px 0}.ui-select-multiple .ui-select-match-item{position:relative}.ui-select-multiple .ui-select-match-item.dropping-before:before{content:"";position:absolute;top:0;right:100%;height:100%;margin-right:2px;border-left:1px solid #428bca}.ui-select-multiple .ui-select-match-item.dropping-after:after{content:"";position:absolute;top:0;left:100%;height:100%;margin-left:2px;border-right:1px solid #428bca}.ui-select-bootstrap .ui-select-choices-row>a{display:block;padding:3px 20px;clear:both;font-weight:400;line-height:1.42857143;color:#333;white-space:nowrap}.ui-select-bootstrap .ui-select-choices-row>a:focus,.ui-select-bootstrap .ui-select-choices-row>a:hover{text-decoration:none;color:#262626;background-color:#f5f5f5}.ui-select-bootstrap .ui-select-choices-row.active>a{color:#fff;text-decoration:none;outline:0;background-color:#428bca}.ui-select-bootstrap .ui-select-choices-row.active.disabled>a,.ui-select-bootstrap .ui-select-choices-row.disabled>a{color:#777;cursor:not-allowed;background-color:#fff}.ui-select-match.ng-hide-add,.ui-select-search.ng-hide-add{display:none!important}.ui-select-bootstrap.ng-dirty.ng-invalid>button.btn.ui-select-match{border-color:#D44950}.ui-select-container[theme=bootstrap].direction-up .ui-select-dropdown{box-shadow:0 -4px 8px rgba(0,0,0,.25)}
/* line 4, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/pages.css.scss */
.home-page {
  font-size: 16px;
}
/* line 8, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/pages.css.scss */
.home-page .form-inline select, .home-page .form-inline input {
  width: 164px;
}
/* line 12, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/pages.css.scss */
.home-page .form-inline .ui-select-bootstrap {
  min-width: 164px;
  max-width: 400px;
}
/* line 17, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/pages.css.scss */
.home-page .form-inline .city-select {
  margin-left: 33px;
}
/* line 23, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/pages.css.scss */
.home-page .salon-count span {
  font-size: 16px;
}
/* line 27, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/pages.css.scss */
.home-page .salon-count .bigger {
  font-size: 24px;
  font-weight: bold;
}
/* line 32, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/pages.css.scss */
.home-page .salon-count .count {
  font-weight: 700;
  font-size: 24px;
}

/* line 39, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/pages.css.scss */
.welcome-page {
  font-size: 18px;
}
/* line 41, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/pages.css.scss */
.welcome-page h3 {
  font-size: 30px;
}

/* line 47, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/pages.css.scss */
.btn-request-mobile {
  width: 65px;
}

@media (max-width: 767px) {
  /* line 53, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/pages.css.scss */
  .request-invite .plus-one-select {
    width: 75px;
  }

  /* line 57, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/pages.css.scss */
  .request-invite {
    width: 80%;
    padding: 5px 20px;
    margin-right: 10%;
    margin-top: 15%;
    font-size: 12px;
  }
  /* line 63, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/pages.css.scss */
  .request-invite button {
    font-size: 14px;
    width: 100%;
    height: auto;
    padding: 5px;
    margin-bottom: 20px;
  }

  /* line 72, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/pages.css.scss */
  .request-invite .salon-info {
    padding: 0px;
    box-shadow: none;
  }

  /* line 77, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/pages.css.scss */
  .home-page .form-inline .ui-select-bootstrap {
    max-width: 164px;
  }

  /* line 81, /Users/omer/Dropbox/private/code/ZikaronBasalon/app/assets/stylesheets/pages.css.scss */
  td {
    padding: 0px !important;
    text-align: center;
  }
}
