<p id="notice"><%= notice %></p>

<p>
  <strong>First contactd:</strong>
  <%= @witness_salon.first_contactd %>
</p>

<%= link_to 'Edit', edit_witness_salon_path(@witness_salon) %> |
<%= link_to 'Back', witness_salons_path %>
