<p> שלום <%= @resource.full_name %></p>

<p> הוזמנת להצטרף לצוות המובילים של זיכרון בסלון <br>
לחיצה על הלינק תוביל אותך להגדרת סיסמתך והתחלת פעילותך כמוביל
</p>

<p><%= link_to t("devise.mailer.invitation_instructions.accept"), accept_invitation_url(@resource, :invitation_token => @token) %></p>

<p> אם לא ידוע לך על הצטרפותך לצוות המובילים אנא התעלם ממיי זה</p>

<p> צוות זיכרון בסלון</p>